<table class="answer-table">
  <tr>
    <td class="upvote-downvote">
      <button class="upvote"></button>
      <div class="vote-score"></div>
      <button class="downvote"></button>
    </td>
    <td class="answer-content-column">
      <div class="answer-content"></div>
    </td>
  </tr>
</table>
