<h1 class="question-title"></h1>
<table class="question-table">
  <tr>
    <td class="upvote-downvote">
      <button class="upvote"></button>
      <div class="vote-score"></div>
      <button class="downvote"></button>
    </td>
    <td class="question-content-column">
      <div class="question-content"></div>
    </td>
  </tr>
</table>
