<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Team Shadow Presents</h1>
      <p>A Team Shadow Production</p>
      <p>Shadow Assassin - Cody Kindall</p>
      <p>Master of Shadows - David Valencia</p>
      <p>Shadow Alchemist - Kyle Cierzan</p>
      <p>Shadow Philosopher - Jeremy Oltean</p>

      
    </div>
  </div><!-- end row -->
  
</div>
